* {
	font-family: 'Roboto Condensed', sans-serif;
	color: #383838;
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	display: inline-block;
	
}

.title {
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
}

.wrapper {
	height: 98%;
	width: 99%;
	text-align: center;
	margin: 0;
	padding: 0;
	display: table;
	float: left;
	position: absolute;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.row {
	display: inline-block;
	width: 100%;
	margin-left: auto;
    margin-right: auto; 
	height: auto;
	float: left;
}

.item {
	display: inline-block;
	margin-left:30px;
	margin-right:30px;
}

.fade_in{

}

.item_text{
	font-size: 21px;
	font-weight: normal;
	margin: 10px 0 10px;
	padding: 0;
}